---
title: false
styles: true
---
$backgroundColour: #00225C;
$codeBackgroundColour: #00205A !default;
$featureBackgroundColour: #002057 !default;
$accentColour: #C9DDFF !default;

// Text colours
$headingColour: #B39B69 !default;
$bodyColour: #FFEEC9 !default;
$linkColour: #FFEEC9 !default;
$hoverColour: #B39B69 !default;
$focusColour: #B39B69 !default;
$captionColour: #FFEEC9 !default;
$white: #00225C !default;
@import "alembic";
